@import 'node_modules/node-normalize-scss/_normalize.scss';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

*{
  border-radius: 5px;
  box-sizing: border-box;
}

html, body{
  background-color: yellow;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
  
select, input, button{
  border-width: 0px;
}
